@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="">Student ManageMent System</h3>
    <p>Please Login For going Admin Panel</p>
    <p><b>Username:</b> admin <b>password: </b>Maliha@123</p>
</div>
